# Node modules directory
node_modules/

# Logs
*.log
logs/

# Environment variable files
.env

# Debug files
*.tgz
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory from testing
coverage/

# Optional: Ignore database files (if you're using local databases)
*.sqlite
*.db
*.mdb

# OS-specific files
.DS_Store        # macOS
Thumbs.db        # Windows

# IDE/editor specific files
.idea/           # JetBrains IDEs
.vscode/         # VS Code

# Ignore build directories
/dist/
build/

# Ignore temporary files
*.bak
*.swp
*.swo
